ion-content{
    --ion-background-color:blac;
}
ion-card{
    margin-top: 56px;
    --color: white;
    ion-card-title{
        color:rgb(255, 255, 255);
        background-color:white;
    }
    ion-card-content{
        --ion-background-color:white;
    }
}
#texto-login{
    border: 1px solid;;
}
#pass-login{
    border: 1px solid;
}
ion-footer{
    width: 100%;
    height: 40px;
    background-color: rgb(255, 204, 0);
}
ion-input{
    border-bottom: 1px solid rgb(155, 155, 155);
    border-top: none;
    border-left: none;
    border-right: none;
}
.validatorsCrearUsuario{
    color:red;
    font-size: 14px;
    width :100%
}